{% extends "blog/base.html" %}

{% block content %}
    <!-- Blog Post Content Column -->
    <div class="col-lg-8 col-lg-offset-2">
        <div class="list-module">    
            <!-- Conents List -->
            <h1>{{ post.title }}</h1>
            <!-- <center><h1>{{ posts.title }}</h1></center> -->
            <center><div class="created_date">{{ post.created_date }}</div></center>
            <br>	
            <img class="img-responsive" src="http://localhost:8000{{post.image_file.url}}" alt="">
            <br>
		    <p>{{ post.text | linebreaks }}</p>
				
            <div class="readMoreDIV">
                <a href="{% url 'post_list' %}" class="readMore">목록으로 돌아가기</a>
            </div>
        </div>  
    </div>
{% endblock %}
