{% extends "blog/base.html" %}

{% block content %}
    <!-- Blog Post Content Column -->
    {% for post in posts %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="list-module">    
            <!-- Conents List -->
            <center><h1>{{ posts.title }}</h1></center>
            <center><div class="category">2016년 9월 5일</div></center>
            
            <br>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <br>

            <p class="lead">개발동기</p>
			<p>{{ post.text | linebreaks }}</p>

            <div class="readMoreDIV">
                <a href="#" class="readMore">계속 읽기</a>
            </div>
        </div>  
    </div>
   	{% endfor %}
{% endblock %}
