{% extends "blog/base.html" %}

{% block content %}
    <!-- Blog Post Content Column -->
    {% for post in posts %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="list-module">    
            <!-- Conents List -->
            <h1>{{ post.title }}</h1>
            <center><div class="created_date">{{ post.created_date|date:'Y년 m월 d일' }}</div></center>
            <br>	
            <img class="img-responsive" src="http://localhost:8000{{post.image_file.url}}" alt="">
            <br>
		    <p>{{ post.text | linebreaks }}</p>
			
			{% if user.is_authenticated %}
				<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}

            <div class="readMoreDIV">
                <!-- <a href="{% url 'post_detail' pk=post.pk %}" class="readMore">계속 읽기</a> -->
            </div>
        </div>  
    </div>
   	{% endfor %}
{% endblock %}
